@model API.Data.DuAn

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>DuAn</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenDuAn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenDuAn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaDuAn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaDuAn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MoTa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MoTa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCDDA)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCDDA)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayTao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayTao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayCapNhat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayCapNhat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrangThai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrangThai)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuanLyBoMon)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuanLyBoMon.CoSoHoatDong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HocKy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HocKy.MaHocKy)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdDuAn">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
